.column-left {
  border-right: 0px!important;
}

.column-right {
  text-align: right;
  border-left: 0px!important;
}

.datatable-search {
  margin-bottom: 15px;
}

.datatable-empty-message {
  text-align: center;
  color: #999;
}