/*
 *= require_self
 */
@import "custom-bootstrap/custom-bootstrap";
@import "mixins";
@import "font-awesome";
@import "site-footer";
@import "site-loader";

.avatar {
  float: left;
  margin-right: 12px;
  width: 40px;
  padding: 1px;
  @include border-radius(4px);

  &.avatar-inline {
    float: none;
    margin-left: 3px;

    &.s16 { margin-right: 2px; }
    &.s24 { margin-right: 2px; }
  }

  &.s16 { width: 16px; height: 16px; margin-right: 6px; }
  &.s24 { width: 24px; height: 24px; margin-right: 8px; }
  &.s26 { width: 26px; height: 26px; margin-right: 8px; }
  &.s32 { width: 32px; height: 32px; margin-right: 10px; }
  &.s60 { width: 60px; height: 60px; margin-right: 12px; }
  &.s90 { width: 90px; height: 90px; margin-right: 15px; }
  &.s160 { width: 160px; height: 160px; margin-right: 20px; }
}

.btn-uploader {
  position: relative;
  overflow: hidden;

  input[type=file] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 82px;
    height: 32px;
    cursor: pointer;
  }
}

a {
  color: #333;
  i.fa {
    text-decoration: inherit;
  }
  &:hover {
    color: #333;
  }
}