.browser-toolbar {
  .browser-location {
    padding: 2px 5px;
    margin-bottom: 5px;
    display: inline-block;

    >li {
      list-style-type: none;
      display: inline-block;

      +li:before {
        font-family: FontAwesome;
        content: "\f105";
        padding: 0 5px;
      }

    }
  }
  
  .btn-toolbar {
    display: inline-block;
    float: right;
  }
}

.mini-browser {
  border: 1px #DFDFDF solid;
  border-radius: 4px;

  .browser-toolbar {
    border-bottom: 1px #DFDFDF solid;
    padding: 2px;

    .browser-location {
      padding: 0 3px;
      margin-bottom: 0;
    }

    .btn-toolbar {
      a {
        border: 0;
        color: #999;

        &:hover {
          color: #333;
          background: transparent;
        }

        &:active {
          background: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }

  .browser-items {
    margin: 3px;
    height: 250px;
    overflow-y: auto;

    table td {
      padding: 2px 5px;
      border: 0;
    }

  }

}