- content_for :sub_nav do
  .navbar.navbar-default.navbar-second.navbar-static-top
    .container
      %ul.nav.navbar-nav.navbar-nav-justified
        %li=link_with_icon t('.profile'), "user", settings_edit_profile_path
        %li=link_with_icon t('.shares'), "folder", settings_shares_index_path
        %li=link_with_icon t('.security'), "shield", settings_edit_security_path
- content_for :content do
  - content_for :messages do '' end
  = render 'layouts/messages'
  = yield
- @hide_messages = true
= render template: "layouts/application"